@font-face {
  font-family: "firaCode";
  src: url(assets/fonts/FiraCode-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 100;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebThin.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebThin.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 200;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebExtraLight.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 300;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebLight.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebLight.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 400;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebRegular.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebRegular.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 500;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebMedium.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebMedium.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 600;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebSemiBold.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebSemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 700;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebBold.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebBold.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 800;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebExtraBold.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: "Kalameh";
  font-weight: 900;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebBlack.woff) format("woff"), url(assets/fonts/Kalameh/_Woff2/KalamehWebBlack.woff2) format("woff2");
}
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, "Kalameh";
}

html {
  margin: 0;
  padding: 0;
}
html body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #e4e4e4;
  background-repeat: no-repeat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, "Kalameh";
}
html body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
html body #main {
  max-width: 85%;
  margin: 20px auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1024px) {
  html body #main .project-card {
    max-width: unset !important;
    min-height: unset !important;
    width: 100%;
  }
}
@media (max-width: 425px) {
  html body #main .project-card {
    max-width: unset !important;
    min-height: unset !important;
    width: 100%;
  }
}
@media (max-width: 425px) {
  html body #main {
    gap: 10px;
  }
}
@media (max-width: 1024px) {
  html body #main {
    flex-direction: column;
  }
  html body #main .about {
    max-width: 100% !important;
  }
  html body #main .project {
    max-width: 100% !important;
  }
}
html body #main .about {
  max-width: 50%;
}
html body #main .about-profile {
  width: 100px;
  margin: 0;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 40px;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
}
html body #main .about-title {
  text-align: right;
  text-transform: uppercase;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  font-family: "Kalameh";
}
@media (max-width: 425px) {
  html body #main .about-title {
    font-size: 25px !important;
  }
}
html body #main .about-title a {
  color: #ffffff;
  text-decoration: none;
}
html body #main .about-tagline {
  text-align: right;
  display: block;
  margin: 0.6rem 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
html body #main .about-social {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 0;
}
html body #main .about-social-item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  color: #210c5b;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
html body #main .about-social-item:hover {
  background-color: #ffffff;
}
html body #main .about-description {
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  font-family: "Kalameh";
}
@media (max-width: 425px) {
  html body #main .about-description {
    font-size: 14px !important;
    letter-spacing: -0.3px;
  }
}
html body #main .about-description a {
  color: #d7d7d7;
  text-decoration: none;
}
html body #main .project {
  max-width: 50%;
}
html body #main .project-wrapper {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  html body #main .project-wrapper {
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  html body #main .project-wrapper #jsCard {
    width: 32%;
  }
}
@media (max-width: 425px) {
  html body #main .project-wrapper #jsCard {
    width: 100%;
  }
}
html body #main .project-wrapper #jsCard .project-cards-wrapper {
  position: relative;
  max-width: 100%;
}
html body #main .project-wrapper #jsCard .project-cards-wrapper .disable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3568627451);
  cursor: not-allowed;
}
html body #main .project-wrapper #jsCard .project-cards-wrapper .project-card {
  background-color: #fdd54a;
  min-height: unset;
}
html body #main .project-wrapper #jsCard .project-cards-wrapper .project-card-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Kalameh";
}
html body #main .project-wrapper #jsCard .project-cards-wrapper .project-card-button {
  font-size: 12px;
  font-weight: 500;
  font-family: "Kalameh";
}
html body #main .project-wrapper #jsCard .project-cards-wrapper .project-card-image {
  box-shadow: unset;
}
@media (max-width: 1024px) {
  html body #main .project-wrapper #nextCard {
    width: 32%;
  }
}
@media (max-width: 425px) {
  html body #main .project-wrapper #nextCard {
    width: 100%;
  }
}
html body #main .project-wrapper #nextCard .project-cards-wrapper {
  position: relative;
  max-width: 100%;
}
html body #main .project-wrapper #nextCard .project-cards-wrapper .disable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3568627451);
  cursor: not-allowed;
}
html body #main .project-wrapper #nextCard .project-cards-wrapper .project-card {
  background-color: #ffffff;
  min-height: unset;
}
html body #main .project-wrapper #nextCard .project-cards-wrapper .project-card-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Kalameh";
}
html body #main .project-wrapper #nextCard .project-cards-wrapper .project-card-button {
  font-size: 12px;
  font-weight: 500;
  font-family: "Kalameh";
}
html body #main .project-wrapper #nextCard .project-cards-wrapper .project-card-image {
  box-shadow: unset;
}
@media (max-width: 1024px) {
  html body #main .project-wrapper #reactCard {
    width: 32%;
  }
}
@media (max-width: 425px) {
  html body #main .project-wrapper #reactCard {
    width: 100%;
  }
}
html body #main .project-wrapper #reactCard .project-cards-wrapper {
  position: relative;
  max-width: 100%;
}
html body #main .project-wrapper #reactCard .project-cards-wrapper .disable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3568627451);
  cursor: not-allowed;
}
html body #main .project-wrapper #reactCard .project-cards-wrapper .project-card {
  background-color: #4ad5fe;
  min-height: unset;
}
html body #main .project-wrapper #reactCard .project-cards-wrapper .project-card-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Kalameh";
}
html body #main .project-wrapper #reactCard .project-cards-wrapper .project-card-button {
  font-size: 12px;
  font-weight: 500;
  font-family: "Kalameh";
}
html body #main .project-wrapper #reactCard .project-cards-wrapper .project-card-image {
  box-shadow: unset;
}
html body nav {
  width: 85%;
  background-color: #d4d4d4;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
  position: sticky;
  top: 10px;
  box-shadow: 5px 1px 10px #0c0c0c;
  z-index: 10000;
}
html body nav .navbar-category-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body nav .navbar-category-wrapper .navbar-category-list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  list-style: none;
  padding-right: 20px;
}
html body nav .navbar-category-wrapper .navbar-category-list .navbar-category-item {
  text-transform: uppercase;
  cursor: pointer;
}
html body nav .navbar-category-wrapper .navbar-category-list .navbar-category-item a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
  color: rgb(31, 31, 31);
}
html body nav .navbar-category-wrapper .navbar-category-list .navbar-category-item a:hover {
  color: #a60000;
}
html body nav .navbar-category-wrapper .navbar-category-list .navbar-category-item a.activeRoute {
  text-decoration: none;
  transition: all 300ms ease-in-out;
  color: #7b0202;
}
html body nav .navbar-category-wrapper .navbar-category-list .navbar-category-item a.activeRoute:hover {
  color: #a60000;
}
html body nav .navbar-category-wrapper .navbar-category-back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 20px;
  color: rgb(31, 31, 31);
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
html body nav .navbar-category-wrapper .navbar-category-back:hover {
  color: #a60000;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 900;
}
@media (max-width: 425px) {
  .title {
    font-size: 30px;
  }
}

.main-desc {
  text-align: center;
  display: block;
  margin: 0.6rem 0;
  color: rgb(192, 192, 192);
  text-transform: uppercase;
}

.project-cards-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 85%;
}
.project-cards-wrapper #jsCard {
  background-color: #fdd54a;
}
.project-cards-wrapper #jsCard .project-card-image {
  border-radius: 5px;
  box-shadow: unset;
}
.project-cards-wrapper #jsCard .project-card-category {
  color: #000000;
}
.project-cards-wrapper #reactCard {
  background-color: #4ad5fe;
}
.project-cards-wrapper #reactCard .project-card-image {
  border-radius: 5px;
  box-shadow: unset;
}
.project-cards-wrapper #reactCard .project-card-category {
  color: #000000;
}
.project-cards-wrapper .project-card {
  background-color: #e4e4e4;
  color: #1e1e1e;
  max-width: 200px;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}
@media (max-width: 425px) {
  .project-cards-wrapper .project-card {
    max-width: unset !important;
    min-height: unset !important;
    width: 100%;
  }
}
.project-cards-wrapper .project-card .project-card-title {
  text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-weight: 600;
}
.project-cards-wrapper .project-card .project-card-image-wrapper .project-card-image {
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
}
.project-cards-wrapper .project-card .project-card-category {
  font-size: 12px;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: rgb(119, 119, 119);
  transition: all 300ms ease-in-out;
  text-align: center;
  cursor: pointer;
}
.project-cards-wrapper .project-card .project-card-category:hover {
  color: #1e1e1e;
}
.project-cards-wrapper .project-card .project-card-content {
  width: 100%;
}
.project-cards-wrapper .project-card .project-card-content .project-card-title {
  margin: 0.5rem 0;
}
.project-cards-wrapper .project-card .project-card-content .project-card-desc {
  text-align: center;
}
.project-cards-wrapper .project-card .project-card-content .project-card-button-wrapper {
  width: 100%;
}
.project-cards-wrapper .project-card .project-card-content .project-card-button-wrapper .project-card-button-link {
  width: 100%;
}
.project-cards-wrapper .project-card .project-card-content .project-card-button-wrapper .project-card-button-link .project-card-button {
  width: 100%;
  text-transform: capitalize;
  border-radius: 5px;
  border: 0;
  background-color: rgb(11, 11, 80);
  color: #e4e4e4;
  padding: 10px 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, "Kalameh";
}
.project-cards-wrapper .project-card .project-card-content .project-card-button-wrapper .project-card-button-link .project-card-button:hover {
  background-color: rgb(23, 23, 135);
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
}

.explain {
  width: 85%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}
.explain-project-data {
  width: 50%;
  text-align: justify;
  position: sticky;
  top: 80px;
  height: 100%;
}
.explain-project-images {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 1rem;
}
.explain-project-images img {
  border-radius: 5px;
  width: 100%;
}

.cl-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cl-body .title {
  max-width: 85%;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .cl-body .title {
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  .cl-body .title {
    font-size: 16px;
  }
}
.cl-wrapper {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}
.cl-wrapper .codes {
  background-color: #e4e4e4;
  color: #1e1e1e;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.cl-wrapper .codes .numberForm {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  align-items: flex-end;
}
.cl-wrapper .codes .numberForm-wrapper {
  display: flex;
  gap: 10px;
  max-width: 100%;
  flex-direction: column;
}
.cl-wrapper .codes .numberForm-title {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.cl-wrapper .codes .numberForm-input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cl-wrapper .codes .numberForm-label {
  text-transform: capitalize;
}
.cl-wrapper .codes .numberForm-button {
  background-color: rgb(11, 11, 80);
  color: #d4d4d4;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  transition: all 300ms ease-in-out;
  min-width: 60%;
  cursor: pointer;
}
.cl-wrapper .codes .numberForm-button:hover {
  background-color: rgb(23, 23, 135);
}
.cl-wrapper .codes .numberForm-result {
  width: 100%;
  text-align: center;
}
.cl-wrapper .train-details {
  display: flex;
  align-items: center;
  gap: inherit;
}
.cl-wrapper .train-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: inherit;
}
.cl-wrapper .train-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #e4e4e4;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
}
.cl-wrapper .train-question {
  color: #474747;
  font-size: 1rem;
}
.cl-wrapper .code {
  min-width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: 300;
}
.cl-wrapper .code-wrapper {
  background-color: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 1rem;
  min-height: 40px;
  color: #d4d4d4;
  width: 95%;
  text-align: left;
  direction: ltr;
}
@media (max-width: 425px) {
  .cl-wrapper .code-wrapper {
    width: unset;
  }
}
.cl-wrapper .code-comment {
  color: #6b9955;
}
.cl-wrapper .code-comment-star {
  color: #97c479;
}
.cl-wrapper .code-comment-blue {
  color: #3598db;
}
.cl-wrapper .code-comment-red {
  color: #ff2c06;
}
.cl-wrapper .code-comment-yellow {
  color: #ff8c18;
}
.cl-wrapper .code-variable {
  color: #3598da;
}
.cl-wrapper .code-array {
  color: #4ec8b0;
}
.cl-wrapper .code-arrayAttribute {
  color: #dddcaa;
}
.cl-wrapper .code-jsAttribute {
  color: #9ddcfe;
}
.cl-wrapper .code-arrayBracket, .cl-wrapper .code-parentheses {
  color: #ffd629;
}
.cl-wrapper .code-bracket {
  color: #70cfda;
}
.cl-wrapper .code-number {
  color: #b5cca7;
}
.cl-wrapper .code-text {
  color: #d4d4d4;
}
.cl-wrapper .code-answer {
  color: #ffffff;
  font-size: 20px;
}
.cl-wrapper .code-strings {
  color: #ce9277;
}

.todo {
  min-width: 100%;
  margin: 2rem 0;
}
.todo_title {
  margin: 0.5rem 0;
}
.todo_wrapper {
  display: flex;
  min-width: 100%;
  gap: 10px;
}
@media (max-width: 425px) {
  .todo_wrapper {
    flex-direction: column;
  }
}
.todo_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo_form-label {
  font-size: 15px;
  margin: 0;
}
.todo_form-textarea {
  resize: none;
  font-size: 12px;
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
}
.todo_form-textarea:focus, .todo_form-textarea:focus-visible, .todo_form-textarea:focus-within {
  border: 0;
  outline: 0;
}
.todo_form-button {
  background-color: rgb(11, 11, 80);
  border-radius: 5px;
  border: 0;
  color: #e4e4e4;
  transition: all 300ms ease-in-out;
  padding: 0.5rem;
  cursor: pointer;
}
.todo_form-button:hover {
  background-color: rgb(23, 23, 135);
}
.todo_form-result {
  width: 100%;
  padding: 1rem;
  background-color: #e2e2e2;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
}
@media (max-width: 425px) {
  .todo_form-result {
    width: unset;
  }
}
.todo_form-result--title {
  margin: 0;
}
.todo_form-result--data {
  margin: 0;
  padding: 0;
  width: 100%;
}
.todo_form-result--list {
  margin: 0.5rem 0;
  padding: 0;
}
.todo_form-result--item {
  display: flex;
  justify-content: space-between;
}
.todo_form-result--rmvButton {
  background-image: url("/assets/images/trash.svg");
  background-size: contain;
  width: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.todo_form-result--rmvButton:hover {
  width: 20px;
}

.code-wrap {
  display: flex;
  flex-wrap: wrap;
}

.bob {
  background-color: #fef66a;
  border-radius: 20px;
}
.bob-face {
  padding: 2rem;
  position: relative;
}
.bob-face-image {
  width: 220px;
}
.bob-face-eye {
  position: absolute;
  top: 95px;
  z-index: 1;
  width: 40px;
  transition: all 300ms ease-in;
}
.bob-face-eye-first {
  left: 75px;
}
.bob-face-eye-second {
  left: 170px;
}
.bob-form {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 1rem;
}
.bob-form-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin-top: 0.7rem;
}
.bob-form-input {
  background-color: #ffffff;
  border: 1px solid #e2a036;
  border-radius: 5px;
  padding: 0.5rem;
  transition: 300ms all ease-in;
}
.bob-form-input:focus {
  outline: 2px solid #e2a036;
}
.bob-form-button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.7rem;
  border: none;
  padding: 0.7rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2588235294);
  transition: 300ms all ease-in;
  cursor: pointer;
}
.bob-form-button:hover {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4745098039);
}

.counter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 20px;
}
.counter-title {
  margin: 10px 0;
}
.counter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 425px) {
  .counter-wrapper {
    flex-wrap: wrap;
  }
}
.counter-item {
  padding: 1rem;
  border: 3px solid #e5e5e5;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  border-radius: 10px;
  min-width: 150px;
  text-align: center;
}
.counter-item-name {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  text-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  color: maroon;
  text-transform: uppercase;
}
.counter-item-number {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  color: #1e1e1e;
}

.corner-menu {
  position: relative;
  width: 100%;
  height: 100px;
}
.corner-menu-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  background-color: #3598da;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 12px;
  transition: all 300ms ease;
}
.corner-menu-item:hover {
  background-color: #30137d;
}
.corner-menu-item-image {
  width: 100%;
}
.corner-menu-button {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 0.5rem;
  background-color: #1e1e1e;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  left: 40%;
  top: 0;
  transition: all 300ms ease;
}
.corner-menu-button:hover {
  background-color: #000000;
}
.corner-menu-button-image {
  width: 100%;
}

.toggleActive {
  transform: rotate(45deg);
}

.theme-card {
  border: 1px solid #30137d;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.theme-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.theme-card-description {
  margin: 0;
  color: #404040;
  text-align: justify;
  font-weight: 200;
  font-size: 14px;
}
.theme-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 425px) {
  .theme-card-header {
    flex-wrap: wrap;
  }
}
.theme-card-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.theme-card-header-up {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 425px) {
  .theme-card-header-up {
    flex-wrap: wrap;
  }
}
.theme-card-header-des {
  display: flex;
  flex-direction: column;
}
.theme-card-header-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #30137d;
  transition: all 300ms ease-in;
}
.theme-card-header-title {
  margin: 0;
  padding: 0;
  color: #30137d;
  transition: all 300ms ease-in;
  font-weight: 800;
  font-size: 18px;
}
.theme-card-header-social {
  display: flex;
  gap: 10px;
}
.theme-card-header-social-item {
  background-color: #30137d;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 5px;
  transition: all 300ms ease-in-out;
}
.theme-card-header-social-item:hover {
  background-color: #2c2b2c;
}
.theme-card-header-social-image {
  width: 100%;
}
.theme-changer {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.theme-changer-button {
  width: 30px;
  height: 30px;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  transition: all 300ms ease-in;
}
.theme-changer .red {
  background-color: #a20000;
}
.theme-changer .red:hover {
  background-color: rgb(135, 0, 0);
}
.theme-changer .yellow {
  background-color: #edb603;
}
.theme-changer .yellow:hover {
  background-color: rgb(193, 148, 1);
}
.theme-changer .blue {
  background-color: #1f01c8;
}
.theme-changer .blue:hover {
  background-color: rgb(25, 2, 152);
}
.theme-changer .green {
  background-color: #007c0a;
}
.theme-changer .green:hover {
  background-color: rgb(0, 87, 7);
}

.colorGenerator {
  display: flex;
  width: 98%;
  gap: 5px;
}
@media (max-width: 425px) {
  .colorGenerator {
    flex-wrap: wrap;
  }
}
.colorGenerator-leftSide {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}
@media (max-width: 425px) {
  .colorGenerator-leftSide {
    width: 100%;
  }
}
.colorGenerator-rightSide {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .colorGenerator-rightSide {
    width: 100%;
  }
}
.colorGenerator-box {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.colorGenerator-box label {
  cursor: pointer;
  text-wrap: nowrap;
}
.colorGenerator-box-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.colorGenerator-box-input::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
.colorGenerator-box-input::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}
.colorGenerator-box-input::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorGenerator-box-input::-moz-focus-inner {
  padding: 0;
}
.colorGenerator-directions {
  display: flex;
  justify-content: space-evenly;
  background-color: #e3e3e3;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  padding: 0.5rem;
  border-radius: 5px;
}
.colorGenerator-directions-arrow {
  width: 20px;
  background-color: #1f01c8;
  padding: 0.1rem;
  border-radius: 5px;
  transition: all 300ms ease-in;
  cursor: pointer;
}
.colorGenerator-directions-arrow:hover {
  background-color: #6652d7;
}
.colorGenerator-directions-arrow:nth-child(1) {
  transform: rotate(-90deg);
}
.colorGenerator-directions-arrow:nth-child(2) {
  transform: rotate(-45deg);
}
.colorGenerator-directions-arrow:nth-child(4) {
  transform: rotate(45deg);
}
.colorGenerator-directions-arrow:nth-child(5) {
  transform: rotate(90deg);
}
.colorGenerator-directions-arrow:nth-child(5) {
  transform: rotate(90deg);
}
.colorGenerator-directions-arrow:nth-child(6) {
  transform: rotate(135deg);
}
.colorGenerator-directions-arrow:nth-child(7) {
  transform: rotate(180deg);
}
.colorGenerator-directions-arrow:nth-child(8) {
  transform: rotate(225deg);
}
.colorGenerator-generate {
  background-color: #080840;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.colorGenerator-generate:hover {
  background-color: #1f01c8;
}
.colorGenerator-style {
  min-height: 48px;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: text;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
}
.colorGenerator-copy {
  background-color: #4ec8b0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.colorGenerator-copy:hover {
  background-color: #007c0a;
}

.countries {
  margin-bottom: 1rem;
  min-height: 350px;
}
.countries-title {
  color: #ffffff;
  background-color: #3f1e9b;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px rgba(52, 52, 52, 0.2196078431);
  padding: 12px 7px;
  min-width: 345px;
  cursor: pointer;
  transition: all 300ms ease-in;
  text-transform: uppercase;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 425px) {
  .countries-title {
    min-width: 290px;
  }
}
.countries-title:hover {
  background-color: #210c5b;
  box-shadow: 0px 2px 3px 0px rgba(24, 24, 24, 0.7176470588);
}
.countries-title-icon {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 20px;
  transition: all 300ms ease-in-out;
  transform: rotate(180deg);
  cursor: pointer;
}
.countries-title-wrapper {
  position: relative;
}
.countries-wrapper {
  display: none;
  background-color: #ffffff;
  padding: 12px 7px;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: scroll;
  transition: all 300ms ease-in-out;
}
.countries-wrapper-search {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, "Kalameh";
  background-color: #f1f1f1;
  color: #30137d;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  outline: none;
  border: 2px solid #30137d;
  border-radius: 8px;
  padding: 12px 7px;
}
.countries-wrapper-search-icon {
  position: absolute;
  top: 11px;
  left: 5px;
  width: 25px;
}
.countries-wrapper-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.countries-wrapper-list-item {
  padding: 10px 7px;
  margin: 0;
  cursor: pointer;
  transition: all 300ms ease-in;
  border-radius: 8px;
}
.countries-wrapper-list-item:hover {
  background-color: #30137d;
  color: #ffffff;
}
.countries-wrapper-list-item:nth-child(1) {
  margin-top: 0.5rem;
}
.countries-search-box {
  position: relative;
}

.iconRotate {
  transition: all 300ms ease-in-out;
  transform: rotate(360deg);
}

.selected-country {
  background-color: #000000;
  color: #ffffff;
}

.tagGenerator {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tagGenerator-title {
  text-transform: capitalize;
  color: #474747;
  margin: 0;
}
.tagGenerator-list {
  background-color: #ffffff;
  border: 1px solid #acacac;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(126, 126, 115, 0.4117647059);
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  list-style: none;
}
.tagGenerator-list-item {
  background-color: rgb(242, 242, 242);
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: baseline;
  margin: 5px;
}
.tagGenerator-list-item-trash {
  background-color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b9b9b9;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.tagGenerator-list-item-trash::before {
  content: "x";
}
.tagGenerator-list-item-trash:hover {
  background-color: #000000;
  color: #ffffff;
}
.tagGenerator-list-input {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 1rem;
  display: inline;
}
.tagGenerator-footer {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  width: 100%;
}
.tagGenerator-footer-counter {
  color: #1f01c8;
  font-weight: 400;
}
.tagGenerator-footer-remover {
  border: 1px solid #dadada;
  background-color: #e70202;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px 20px;
  text-transform: capitalize;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.tagGenerator-footer-remover:hover {
  background-color: #940202;
}

.carRun {
  width: 900px;
  height: 400px;
  background-image: url(./pages/jsTrain/14/assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid #474747;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .carRun {
    width: 800px;
  }
}
@media (max-width: 768px) {
  .carRun {
    width: 600px;
  }
}
@media (max-width: 425px) {
  .carRun {
    width: 320px;
  }
}
@media (max-width: 375px) {
  .carRun {
    width: 270px;
  }
}
@media (max-width: 320px) {
  .carRun {
    width: 240px;
  }
}
.carRun-Road {
  width: 990%;
  height: 190px;
  background-image: url(./pages/jsTrain/14/assets/road.png);
  background-repeat: repeat-x;
  background-position: top;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  .carRun-Road {
    width: 800%;
  }
}
@media (max-width: 425px) {
  .carRun-Road {
    width: 1200%;
  }
}
.carRun-car-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50px;
}
.carRun-Hint {
  display: flex;
  gap: 30px;
  margin: 20px;
}
@media (max-width: 768px) {
  .carRun-Hint {
    gap: 20px;
    margin: 10px;
  }
}
@media (max-width: 425px) {
  .carRun-Hint {
    flex-direction: column;
    gap: 10px;
    margin: 5px;
  }
}
.carRun-Hint span {
  background-color: #210c5b;
  color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
}

@keyframes road {
  100% {
    transform: translate(-1300px);
  }
}
@keyframes car {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-1px);
  }
}
.textMark {
  width: 95%;
  background-color: #ffffff;
  border: 2px solid #d1d1d1;
  padding: 1rem;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .textMark {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .textMark {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .textMark {
    width: 85%;
  }
}
@media (max-width: 375px) {
  .textMark {
    width: 85%;
  }
}
@media (max-width: 320px) {
  .textMark {
    width: 85%;
  }
}
.textMark-Search-Input {
  width: 200px;
  border: 2px solid #d1d1d1;
  padding: 0.5rem;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .textMark-Search-Input {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .textMark-Search-Input {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .textMark-Search-Input {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .textMark-Search-Input {
    width: 90%;
  }
}
@media (max-width: 320px) {
  .textMark-Search-Input {
    width: 90%;
  }
}
.textMark-Search-Button {
  width: 200px;
  border: 2px solid #d1d1d1;
  padding: 0.25rem;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .textMark-Search-Button {
    width: 97%;
  }
}
@media (max-width: 768px) {
  .textMark-Search-Button {
    width: 97%;
  }
}
@media (max-width: 425px) {
  .textMark-Search-Button {
    width: 97%;
  }
}
@media (max-width: 375px) {
  .textMark-Search-Button {
    width: 97%;
  }
}
@media (max-width: 320px) {
  .textMark-Search-Button {
    width: 97%;
  }
}
.textMark-text {
  direction: ltr;
  text-align: justify;
}

.detectCapsLock-input {
  width: 200px;
  height: 30px;
  border: 2px solid #bfbfbf;
  border-radius: 10px;
}
.detectCapsLock-error {
  padding: 0.6rem;
  color: rgb(168, 3, 3);
  background-color: rgb(255, 146, 146);
  border-radius: 10px;
  display: none;
}

.menu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .menu {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .menu {
    gap: 5px;
  }
}
@media (max-width: 425px) {
  .menu {
    gap: 5px;
  }
}
@media (max-width: 375px) {
  .menu {
    gap: 2px;
  }
}
@media (max-width: 320px) {
  .menu {
    gap: 2px;
  }
}
.menu-wrapper {
  background-color: #080840;
  border-radius: 5px;
  position: relative;
}
.menu-light {
  background-color: #5f1af1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  position: absolute;
  transition: all 300ms ease-in-out;
  border-radius: 5px;
}
.menu-item {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  z-index: 2;
}
@media (max-width: 1024px) {
  .menu-item {
    padding: 1rem 2rem;
  }
}
@media (max-width: 768px) {
  .menu-item {
    padding: 0.5rem 0.5rem;
  }
}
@media (max-width: 425px) {
  .menu-item {
    padding: 0.5rem 0.5rem;
  }
}
@media (max-width: 375px) {
  .menu-item {
    padding: 0.5rem 0.5rem;
  }
}
@media (max-width: 320px) {
  .menu-item {
    padding: 0.5rem 0.5rem;
  }
}

.TabChange-text {
  text-transform: uppercase;
  color: #080840;
}
.TabChange-text-status {
  color: #6b9955;
}
.TabChange-text-failed {
  color: #ff2c06;
}

.TabToggle {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
}
@media (max-width: 375px) {
  .TabToggle {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .TabToggle {
    width: 100%;
  }
}
.TabToggle-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 100%;
}
.TabToggle-tabs-item {
  background-color: rgb(220, 220, 220);
  color: rgb(162, 162, 162);
  margin: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media (max-width: 375px) {
  .TabToggle-tabs-item {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .TabToggle-tabs-item {
    font-size: 10px;
  }
}
.TabToggle-tabs-item:hover {
  background-color: #0f0f81;
  color: #ffffff;
}
.TabToggle-tabs-item:first-child {
  border-top-right-radius: 5px;
}
.TabToggle-tabs-item:last-child {
  border-top-left-radius: 5px;
}
.TabToggle-tabs-item.active {
  background-color: #080840;
  color: #ffffff;
}
.TabToggle-contents-item {
  display: none;
  padding: 1rem;
  font-size: 12px;
  text-align: justify;
  margin: 0;
  transition: all 300ms ease-in-out;
}
.TabToggle-contents-item.active {
  display: block;
  background-color: #080840;
  color: #ffffff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Dictionary {
  width: 50%;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.Dictionary-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.Dictionary-box-input {
  outline: none;
  border: none;
  border-bottom: 1px solid #3598db;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, "Kalameh";
  width: 300px;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}
.Dictionary-box-input:focus {
  border-bottom: 2px solid #1f01c8;
}
.Dictionary-box-button {
  background-color: #3598db;
  color: #ffffff;
  width: 100px;
  padding-inline: 0;
  padding-block: 0;
  line-height: 0;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  padding: 1.5rem 0;
}
.Dictionary-box-button:hover {
  background-color: #1f01c8;
}
.Dictionary-response {
  margin-top: 2rem;
}

.snow {
  position: absolute;
  background-image: url(./pages/jsTrain/20/assets/snow-flake.png);
  background-size: cover;
  border-radius: 50px;
  animation: fall 2s linear infinite;
}

@keyframes fall {
  0% {
    transform: translate(50%, 50%);
    opacity: 1;
  }
  100% {
    transform: translate(50%, 1000%);
    opacity: 0;
  }
}
a {
  text-decoration: none;
}

.githubIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  background-color: #0f0f81;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
.githubIcon h3 {
  text-decoration: none !important;
  font-size: 14px;
  margin: 0;
}
.githubIcon:hover {
  background-color: #1f01c8;
}
.githubIcon i {
  color: #ffffff;
}
.githubIcon i::before {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */