//! fonts
@font-face {
  font-family: "firaCode";
  src: url(assets/fonts/FiraCode-Light.woff2) format("woff2");
}

// Kalameh
@font-face {
  font-family: "Kalameh";
  font-weight: 100;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebThin.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebThin.woff2) format("woff2");
}

@font-face {
  font-family: "Kalameh";
  font-weight: 200;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebExtraLight.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebExtraLight.woff2) format("woff2");
}

@font-face {
  font-family: "Kalameh";
  font-weight: 300;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebLight.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebLight.woff2) format("woff2");
}

@font-face {
  font-family: "Kalameh";
  font-weight: 400;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebRegular.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebRegular.woff2) format("woff2");
}

@font-face {
  font-family: "Kalameh";
  font-weight: 500;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebMedium.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebMedium.woff2) format("woff2");
}

@font-face {
  font-family: "Kalameh";
  font-weight: 600;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebSemiBold.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebSemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Kalameh";
  font-weight: 700;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebBold.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebBold.woff2) format("woff2");
}

@font-face {
  font-family: "Kalameh";
  font-weight: 800;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebExtraBold.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: "Kalameh";
  font-weight: 900;
  src: url(assets/fonts/Kalameh/_Woff/KalamehWebBlack.woff) format("woff"),
    url(assets/fonts/Kalameh/_Woff2/KalamehWebBlack.woff2) format("woff2");
}

//! fonts

//! my variables
$primaryColor: #e4e4e4;
$secondaryColor: #1e1e1e;
$softBlack: #474747;
$darkBlue: #080840;
$buttonColor: rgb(11, 11, 80);
$buttonHoverColor: rgb(23, 23, 135);
$GillFont: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$PersianFont: "Kalameh";
$customBoxShadow: 0px 1px 1px 0px #34343438;
$borderRadius: 5px;
//* code style
$codeBack: #1e1e1e;
$codeComment: #6b9955;
$codeCommentStar: #97c479;
$codeCommentRed: #ff2c06;
$codeCommentBlue: #3598db;
$codeCommentYellow: #ff8c18;
$codeFontFamily: "Courier New", Courier, monospace;
$codeFontSize: 12px;
$codeVariable: #3598da;
$codeArray: #4ec8b0;
$codeArrayAttr: #dddcaa;
$jsArrayAttr: #9ddcfe;
$codeArrayBracket: #ffd629;
$codeManualBracket: #70cfda;
$codeNumber: #b5cca7;
$codeString: #ce9277;
$codeManualText: #d4d4d4;
$codeAnswer: #ffffff;

//! main page-----------------------
button {
  font-family: $GillFont, $PersianFont;
}
// styles
html {
  margin: 0;
  padding: 0;
  body {
    margin: 0;
    padding: 0;
    background-color: $secondaryColor;
    color: $primaryColor;
    background-repeat: no-repeat;
    font: {
      family: $GillFont, $PersianFont;
    }
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 0.5rem;
    }

    #main {
      .project-card {
        @media (max-width: 1024px) {
          max-width: unset !important;
          min-height: unset !important;
          width: 100%;
        }
        @media (max-width: 425px) {
          max-width: unset !important;
          min-height: unset !important;
          width: 100%;
        }
      }
      max-width: 85%;
      margin: 20px auto;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 50px;
      @media (max-width: 425px) {
        gap: 10px;
      }
      @media (max-width: 1024px) {
        flex-direction: column;
        .about {
          max-width: 100% !important;
        }
        .project {
          max-width: 100% !important;
        }
      }
      .about {
        max-width: 50%;
        &-profile {
          width: 100px;
          margin: 0;
          padding: 0;
          border: 2px solid #ffffff;
          border-radius: 40px;
          box-shadow: $customBoxShadow;
        }
        &-title {
          @media (max-width: 425px) {
            font-size: 25px !important;
          }
          text-align: right;
          text-transform: uppercase;
          margin: 0;
          a {
            color: #ffffff;
            text-decoration: none;
          }
          font : {
            size: 50px;
            weight: 700;
            family: $PersianFont;
          }
        }
        &-tagline {
          text-align: right;
          display: block;
          margin: 0.6rem 0;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
        }
        &-social {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 8px;
          list-style: none;
          padding: 0;
          &-item {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $codeManualText;
            color: #210c5b;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            box-shadow: $customBoxShadow;
            transition: all 150ms ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: #ffffff;
            }
          }
        }
        &-description {
          @media (max-width: 425px) {
            font-size: 14px !important;
            letter-spacing: -0.3px;
          }
          text-align: justify;
          font : {
            size: 16px;
            weight: 300;
            family: $PersianFont;
          }
          a {
            color: #d7d7d7;
            text-decoration: none;
          }
        }
      }
      .project {
        max-width: 50%;
        &-wrapper {
          max-width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          justify-content: center;
          align-items: center;
          @media (max-width: 1024px) {
            justify-content: space-between;
          }
          #jsCard {
            @media (max-width: 1024px) {
              width: 32%;
            }
            @media (max-width: 425px) {
              width: 100%;
            }
            .project {
              &-cards {
                &-wrapper {
                  position: relative;
                  max-width: 100%;
                  .disable {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #0000005b;
                    cursor: not-allowed;
                  }
                }
              }
            }
            .project-cards-wrapper .project-card {
              background-color: #fdd54a;
              min-height: unset;
              &-title {
                text-align: center;
                font: {
                  size: 16px;
                  weight: 500;
                  family: $PersianFont;
                }
              }
              &-button {
                font: {
                  size: 12px;
                  weight: 500;
                  family: $PersianFont;
                }
              }
              &-image {
                box-shadow: unset;
              }
            }
          }
          #nextCard {
            @media (max-width: 1024px) {
              width: 32%;
            }
            @media (max-width: 425px) {
              width: 100%;
            }
            .project {
              &-cards {
                &-wrapper {
                  position: relative;
                  max-width: 100%;
                  .disable {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #0000005b;
                    cursor: not-allowed;
                  }
                }
              }
            }
            .project-cards-wrapper .project-card {
              background-color: #ffffff;
              min-height: unset;
              &-title {
                text-align: center;
                font: {
                  size: 16px;
                  weight: 500;
                  family: $PersianFont;
                }
              }
              &-button {
                font: {
                  size: 12px;
                  weight: 500;
                  family: $PersianFont;
                }
              }
              &-image {
                box-shadow: unset;
              }
            }
          }
          #reactCard {
            @media (max-width: 1024px) {
              width: 32%;
            }
            @media (max-width: 425px) {
              width: 100%;
            }
            .project {
              &-cards {
                &-wrapper {
                  position: relative;
                  max-width: 100%;
                  .disable {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #0000005b;
                    cursor: not-allowed;
                  }
                }
              }
            }
            .project-cards-wrapper .project-card {
              background-color: #4ad5fe;
              min-height: unset;
              &-title {
                text-align: center;
                font: {
                  size: 16px;
                  weight: 500;
                  family: $PersianFont;
                }
              }
              &-button {
                font: {
                  size: 12px;
                  weight: 500;
                  family: $PersianFont;
                }
              }
              &-image {
                box-shadow: unset;
              }
            }
          }
        }
      }
    }
    nav {
      width: 85%;
      background-color: #d4d4d4;
      margin: 0 auto;
      padding: 0;
      border-radius: 5px;
      position: sticky;
      top: 10px;
      box-shadow: 5px 1px 10px #0c0c0c;
      z-index: 10000;
      .navbar-category-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-category-list {
          display: flex;
          justify-content: center;
          text-align: center;
          gap: 10px;
          list-style: none;
          padding-right: 20px;
          .navbar-category-item {
            text-transform: uppercase;
            cursor: pointer;
            a {
              text-decoration: none;
              transition: all 300ms ease-in-out;
              color: rgb(31, 31, 31);
              &:hover {
                color: #a60000;
              }
            }
            a.activeRoute {
              text-decoration: none;
              transition: all 300ms ease-in-out;
              color: #7b0202;
              &:hover {
                color: #a60000;
              }
            }
          }
        }
        .navbar-category-back {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          margin-left: 20px;
          color: rgb(31, 31, 31);
          background-color: white;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          cursor: pointer;
          transition: all 300ms ease-in-out;
          &:hover {
            color: #a60000;
          }
        }
      }
    }
  }
}

.title {
  @media (max-width: 425px) {
    font-size: 30px;
  }
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  font : {
    size: 40px;
    weight: 900;
  }
}

.main-desc {
  text-align: center;
  display: block;
  margin: 0.6rem 0;
  color: rgb(192, 192, 192);
  text-transform: uppercase;
}
//! main page-----------------------

//! Cards ---
.project-cards-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 85%;
  @media (max-width: 1024px) {
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    justify-content: space-between;
  }
  @media (max-width: 425px) {
    justify-content: space-between;
  }
  #jsCard {
    background-color: #fdd54a;
    .project-card-image {
      border-radius: $borderRadius;
      box-shadow: unset;
    }
    .project-card-category {
      color: #000000;
    }
  }
  .project-card {
    background-color: $primaryColor;
    color: $secondaryColor;
    max-width: 200px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: $borderRadius;
    @media (max-width: 1024px) {
      max-width: unset !important;
      min-height: unset !important;
      width: 28%;
    }
    @media (max-width: 768px) {
      max-width: unset !important;
      min-height: unset !important;
      width: 40%;
    }
    @media (max-width: 425px) {
      max-width: unset !important;
      min-height: unset !important;
      width: 100%;
    }
    .project-card-title {
      text-shadow: 1px 2px 0px rgb(255 255 255 / 55%);
      font: {
        size: 14px;
        weight: 600;
      }
    }
    .project-card-image-wrapper {
      .project-card-image {
        border-radius: $borderRadius;
        box-shadow: $customBoxShadow;
      }
    }
    .project-card-category {
      font: {
        size: 12px;
        weight: 100;
        family: "Courier New", Courier, monospace;
      }
      width: 100%;
      display: block;
      text-transform: uppercase;
      color: rgb(119, 119, 119);
      transition: all 300ms ease-in-out;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: $codeBack;
      }
    }
    .project-card-content {
      width: 100%;
      .project-card-title {
        margin: 0.5rem 0;
      }
      .project-card-desc {
        text-align: center;
      }
      .project-card-button-wrapper {
        width: 100%;
        .project-card-button-link {
          width: 100%;
          .project-card-button {
            width: 100%;
            text-transform: capitalize;
            border-radius: $borderRadius;
            border: 0;
            background-color: $buttonColor;
            color: $primaryColor;
            padding: 10px 0;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            font-family: $GillFont, $PersianFont;
            &:hover {
              background-color: $buttonHoverColor;
              box-shadow: $customBoxShadow;
            }
          }
        }
      }
    }
  }
}
//! Cards ---

//! Condition and Loop train page---
.cl {
  &-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title {
      @media (max-width: 1024px) {
        font-size: 25px;
      }
      @media (max-width: 425px) {
        font-size: 16px;
      }
      max-width: 85%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &-wrapper {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    .codes {
      background-color: $primaryColor;
      color: $secondaryColor;
      box-shadow: $customBoxShadow;
      border-radius: $borderRadius;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      .numberForm {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10px;
        align-items: flex-end;
        &-wrapper {
          display: flex;
          gap: 10px;
          max-width: 100%;
          flex-direction: column;
        }
        &-title {
          text-align: center;
          font: {
            size: 15px;
            weight: 600;
          }
        }
        &-input {
          &_wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }
        &-label {
          text-transform: capitalize;
        }
        &-button {
          background-color: $buttonColor;
          color: $codeManualText;
          border-radius: $borderRadius;
          border: 0;
          padding: 5px;
          transition: all 300ms ease-in-out;
          min-width: 60%;
          cursor: pointer;
          &:hover {
            background-color: $buttonHoverColor;
          }
        }
        &-result {
          width: 100%;
          text-align: center;
        }
      }
    }
    .train {
      &-details {
        display: flex;
        align-items: center;
        gap: inherit;
      }
      &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: inherit;
      }
      &-number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondaryColor;
        color: $primaryColor;
        width: 20px;
        height: 20px;
        padding: 3px;
        border-radius: 100%;
        text-align: center;
        box-shadow: $customBoxShadow;
      }
      &-question {
        color: $softBlack;
        font-size: 1rem;
      }
    }
    .code {
      min-width: 100%;
      font: {
        family: $codeFontFamily;
        size: $codeFontSize;
        weight: 300;
      }
      &-wrapper {
        background-color: $codeBack;
        border-radius: $borderRadius;
        box-shadow: $customBoxShadow;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 1rem;
        min-height: 40px;
        color: $codeManualText;
        width: 95%;
        text-align: left;
        direction: ltr;
        @media (max-width: 425px) {
          width: unset;
        }
      }
      &-comment {
        color: $codeComment;
        &-star {
          color: $codeCommentStar;
        }
        &-blue {
          color: $codeCommentBlue;
        }
        &-red {
          color: $codeCommentRed;
        }
        &-yellow {
          color: $codeCommentYellow;
        }
      }
      &-variable {
        color: $codeVariable;
      }
      &-array {
        color: $codeArray;
      }
      &-arrayAttribute {
        color: $codeArrayAttr;
      }
      &-jsAttribute {
        color: $jsArrayAttr;
      }
      &-arrayBracket,
      &-parentheses {
        color: $codeArrayBracket;
      }
      &-bracket {
        color: $codeManualBracket;
      }
      &-number {
        color: $codeNumber;
      }
      &-text {
        color: $codeManualText;
      }
      &-answer {
        color: $codeAnswer;
        font-size: 20px;
      }
      &-strings {
        color: $codeString;
      }
    }
  }
}
//! Condition and Loop train page---

//todo------------------------------

.todo {
  min-width: 100%;
  margin: 2rem 0;
  &_title {
    margin: 0.5rem 0;
  }
  &_wrapper {
    display: flex;
    min-width: 100%;
    gap: 10px;
    @media (max-width: 425px) {
      flex-direction: column;
    }
  }
  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-label {
      font-size: 15px;
      margin: 0;
    }
    &-textarea {
      resize: none;
      font-size: 12px;
      padding: 0.5rem;
      border: 0;
      border-radius: $borderRadius;
      box-shadow: $customBoxShadow;
      &:focus,
      &:focus-visible,
      &:focus-within {
        border: 0;
        outline: 0;
      }
    }
    &-button {
      background-color: $buttonColor;
      border-radius: $borderRadius;
      border: 0;
      color: $primaryColor;
      transition: all 300ms ease-in-out;
      padding: 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: $buttonHoverColor;
      }
    }
    &-result {
      width: 100%;
      padding: 1rem;
      background-color: #e2e2e2;
      border-radius: $borderRadius;
      box-shadow: $customBoxShadow;
      @media (max-width: 425px) {
        width: unset;
      }
      &--title {
        margin: 0;
      }
      &--data {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      &--list {
        margin: 0.5rem 0;
        padding: 0;
      }
      &--item {
        display: flex;
        justify-content: space-between;
      }
      &--rmvButton {
        background-image: url("/assets/images/trash.svg");
        background-size: contain;
        width: 15px;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        &:hover {
          width: 20px;
        }
      }
    }
  }
}

.code-wrap {
  display: flex;
  flex-wrap: wrap;
}

//todo------------------------------

// ! bob project
.bob {
  background-color: #fef66a;
  border-radius: 20px;
  &-face {
    padding: 2rem;
    position: relative;
    &-image {
      width: 220px;
    }
    &-eye {
      position: absolute;
      top: 95px;
      z-index: 1;
      width: 40px;
      transition: all 300ms ease-in;
      &-first {
        left: 75px;
      }
      &-second {
        left: 170px;
      }
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1rem;
    &-label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      margin-top: 0.7rem;
    }
    &-input {
      background-color: #ffffff;
      border: 1px solid #e2a036;
      border-radius: 5px;
      padding: 0.5rem;
      transition: 300ms all ease-in;
      &:focus {
        outline: 2px solid #e2a036;
      }
    }
    &-button {
      background-color: #ffffff;
      color: #000000;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 0.7rem;
      border: none;
      padding: 0.7rem;
      box-shadow: 0px 1px 2px 0px #00000042;
      transition: 300ms all ease-in;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 1px 3px 0px #00000079;
      }
    }
  }
}

// ! bob project
// ! number counter

.counter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 20px;
  &-title {
    margin: 10px 0;
  }
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media (max-width: 425px) {
      flex-wrap: wrap;
    }
  }
  &-item {
    padding: 1rem;
    border: 3px solid #e5e5e5;
    box-shadow: $customBoxShadow;
    border-radius: 10px;
    min-width: 150px;
    text-align: center;
    &-name {
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      font-weight: 600;
      font-size: 14px;
      text-shadow: $customBoxShadow;
      color: maroon;
      text-transform: uppercase;
    }
    &-number {
      margin: 0;
      padding: 0;
      font-weight: 400;
      font-size: 18px;
      color: $secondaryColor;
    }
  }
}

// ! number counter

// ! corner menu
.corner-menu {
  position: relative;
  width: 100%;
  height: 100px;

  &-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0.5rem;
    background-color: $codeVariable;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 12px;
    transition: all 300ms ease;
    &:hover {
      background-color: #30137d;
    }
    &-image {
      width: 100%;
    }
  }
  &-button {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 0.5rem;
    background-color: $secondaryColor;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    left: 40%;
    top: 0;
    transition: all 300ms ease;
    &:hover {
      background-color: #000000;
    }
    &-image {
      width: 100%;
    }
  }
}

.toggleActive {
  transform: rotate(45deg);
}
// ! corner menu
// ! theme changer
.theme {
  &-card {
    border: 1px solid #30137d;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: $customBoxShadow;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      gap: 20px;
    }
    &-description {
      margin: 0;
      color: #404040;
      text-align: justify;
      font: {
        weight: 200;
        size: 14px;
      }
    }
    &-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      @media (max-width: 425px) {
        flex-wrap: wrap;
      }
      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      &-up {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        @media (max-width: 425px) {
          flex-wrap: wrap;
        }
      }
      &-des {
        display: flex;
        flex-direction: column;
      }
      &-image {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 5px solid #30137d;
        transition: all 300ms ease-in;
      }
      &-title {
        margin: 0;
        padding: 0;
        color: #30137d;
        transition: all 300ms ease-in;
        font : {
          weight: 800;
          size: 18px;
        }
      }
      &-social {
        display: flex;
        gap: 10px;
        &-item {
          background-color: #30137d;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          padding: 5px;
          transition: all 300ms ease-in-out;
          &:hover {
            background-color: #2c2b2c;
          }
        }
        &-image {
          width: 100%;
        }
      }
    }
  }
  &-changer {
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    &-button {
      width: 30px;
      height: 30px;
      box-shadow: $customBoxShadow;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      color: #ffffff;
      transition: all 300ms ease-in;
    }
    .red {
      background-color: #a20000;
      &:hover {
        background-color: rgb(135, 0, 0);
      }
    }
    .yellow {
      background-color: #edb603;
      &:hover {
        background-color: rgb(193, 148, 1);
      }
    }
    .blue {
      background-color: #1f01c8;
      &:hover {
        background-color: rgb(25, 2, 152);
      }
    }
    .green {
      background-color: #007c0a;
      &:hover {
        background-color: rgb(0, 87, 7);
      }
    }
  }
}

// ! theme changer
// ! Color Generator
.colorGenerator {
  display: flex;
  width: 98%;
  gap: 5px;
  @media (max-width: 425px) {
    flex-wrap: wrap;
  }
  &-leftSide {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    @media (max-width: 425px) {
      width: 100%;
    }
  }
  &-rightSide {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    justify-content: space-between;
    @media (max-width: 425px) {
      width: 100%;
    }
  }
  &-box {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    label {
      cursor: pointer;
      text-wrap: nowrap;
    }
    &-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      height: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &::-webkit-color-swatch {
        border-radius: 5px;
        border: none;
      }
      &::-moz-color-swatch {
        border-radius: 5px;
        border: none;
      }
      &::-webkit-color-swatch-wrapper {
        padding: 0;
      }
      &::-moz-focus-inner {
        padding: 0;
      }
    }
  }
  &-directions {
    display: flex;
    justify-content: space-evenly;
    background-color: #e3e3e3;
    box-shadow: $customBoxShadow;
    padding: 0.5rem;
    border-radius: 5px;
    &-arrow {
      width: 20px;
      background-color: #1f01c8;
      padding: 0.1rem;
      border-radius: 5px;
      transition: all 300ms ease-in;
      cursor: pointer;
      &:hover {
        background-color: #6652d7;
      }
      &:nth-child(1) {
        transform: rotate(-90deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        transform: rotate(45deg);
      }
      &:nth-child(5) {
        transform: rotate(90deg);
      }
      &:nth-child(5) {
        transform: rotate(90deg);
      }
      &:nth-child(6) {
        transform: rotate(135deg);
      }
      &:nth-child(7) {
        transform: rotate(180deg);
      }
      &:nth-child(8) {
        transform: rotate(225deg);
      }
    }
  }
  &-generate {
    background-color: $darkBlue;
    color: $codeAnswer;
    border: none;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in;
    &:hover {
      background-color: #1f01c8;
    }
  }
  &-style {
    min-height: 48px;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: text;
    box-shadow: $customBoxShadow;
  }
  &-copy {
    background-color: $codeArray;
    color: $codeAnswer;
    border: none;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in;
    &:hover {
      background-color: #007c0a;
    }
  }
}

// ! Color Generator
// ! Country Select
.countries {
  margin-bottom: 1rem;
  min-height: 350px;
  &-title {
    color: #ffffff;
    background-color: #3f1e9b;
    border-radius: 10px;
    box-shadow: $customBoxShadow;
    padding: 12px 7px;
    min-width: 345px;
    @media (max-width: 425px) {
      min-width: 290px;
    }
    cursor: pointer;
    transition: all 300ms ease-in;
    text: {
      transform: uppercase;
      align: right;
    }
    font: {
      size: 18px;
      weight: 700;
    }
    &:hover {
      background-color: #210c5b;
      box-shadow: 0px 2px 3px 0px #181818b7;
    }
    &-icon {
      position: absolute;
      top: 13px;
      left: 5px;
      width: 20px;
      transition: all 300ms ease-in-out;
      transform: rotate(180deg);
      cursor: pointer;
    }
    &-wrapper {
      position: relative;
    }
  }
  &-wrapper {
    display: none;
    background-color: #ffffff;
    padding: 12px 7px;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: scroll;
    transition: all 300ms ease-in-out;
    &-search {
      font-family: $GillFont, $PersianFont;
      background-color: #f1f1f1;
      color: #30137d;
      font: {
        size: 14px;
        weight: 400;
      }
      width: 100%;
      outline: none;
      border: 2px solid #30137d;
      border-radius: 8px;
      padding: 12px 7px;
      &-icon {
        position: absolute;
        top: 11px;
        left: 5px;
        width: 25px;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 3px;
      &-item {
        padding: 10px 7px;
        margin: 0;
        cursor: pointer;
        transition: all 300ms ease-in;
        border-radius: 8px;
        &:hover {
          background-color: #30137d;
          color: #ffffff;
        }
        &:nth-child(1) {
          margin-top: 0.5rem;
        }
      }
    }
  }
  &-search-box {
    position: relative;
  }
}

.iconRotate {
  transition: all 300ms ease-in-out;
  transform: rotate(360deg);
}

.selected-country {
  background-color: #000000;
  color: #ffffff;
}
// ! Country Select
// ! tag generator
.tagGenerator {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &-title {
    text-transform: capitalize;
    color: $softBlack;
    margin: 0;
  }
  &-list {
    background-color: #ffffff;
    border: 1px solid #acacac;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #7e7e7369;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    list-style: none;
    &-item {
      background-color: rgb(242, 242, 242);
      padding: 0.5rem;
      border-radius: 8px;
      border: 1px solid #e8e8e8;
      display: flex;
      gap: 2px;
      justify-content: center;
      align-items: baseline;
      margin: 5px;
      &-trash {
        background-color: #ffffff;
        font-size: 10px;
        font-weight: 600;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #b9b9b9;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        &::before {
          content: "x";
        }
        &:hover {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
    &-input {
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 1rem;
      display: inline;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    width: 100%;
    &-counter {
      color: #1f01c8;
      font-weight: 400;
    }
    &-remover {
      border: 1px solid #dadada;
      background-color: #e70202;
      color: #ffffff;
      border-radius: 8px;
      padding: 5px 20px;
      text-transform: capitalize;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #940202;
      }
    }
  }
}

// ! tag generator
// ! car run
.carRun {
  width: 900px;
  height: 400px;
  background-image: url(./pages/jsTrain/14/assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid $softBlack;
  border-radius: 20px;
  overflow: hidden;
  @media (max-width: 1024px) {
    width: 800px;
  }
  @media (max-width: 768px) {
    width: 600px;
  }
  @media (max-width: 425px) {
    width: 320px;
  }
  @media (max-width: 375px) {
    width: 270px;
  }
  @media (max-width: 320px) {
    width: 240px;
  }
  &-Road {
    width: 990%;
    height: 190px;
    background-image: url(./pages/jsTrain/14/assets/road.png);
    background-repeat: repeat-x;
    background-position: top;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width: 768px) {
      width: 800%;
    }
    @media (max-width: 425px) {
      width: 1200%;
    }
  }
  &-car {
    &-wrapper {
      position: absolute;
      bottom: 10px;
      left: 50px;
    }
  }
  &-Hint {
    display: flex;
    gap: 30px;
    margin: 20px;
    @media (max-width: 768px) {
      gap: 20px;
      margin: 10px;
    }
    @media (max-width: 425px) {
      flex-direction: column;
      gap: 10px;
      margin: 5px;
    }
    span {
      background-color: #210c5b;
      color: #ffffff;
      padding: 1rem;
      border-radius: 10px;
      text-align: left;
    }
  }
}

@keyframes road {
  100% {
    transform: translate(-1300px);
  }
}

@keyframes car {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-1px);
  }
}

// ! car run
// ! Text Mark
.textMark {
  width: 95%;
  background-color: #ffffff;
  border: 2px solid #d1d1d1;
  padding: 1rem;
  border-radius: 5px;
  @media (max-width: 1024px) {
    width: 85%;
  }
  @media (max-width: 768px) {
    width: 85%;
  }
  @media (max-width: 425px) {
    width: 85%;
  }
  @media (max-width: 375px) {
    width: 85%;
  }
  @media (max-width: 320px) {
    width: 85%;
  }
  &-Search {
    &-Input {
      width: 200px;
      border: 2px solid #d1d1d1;
      padding: 0.5rem;
      border-radius: 5px;
      @media (max-width: 1024px) {
        width: 90%;
      }
      @media (max-width: 768px) {
        width: 90%;
      }
      @media (max-width: 425px) {
        width: 90%;
      }
      @media (max-width: 375px) {
        width: 90%;
      }
      @media (max-width: 320px) {
        width: 90%;
      }
    }
    &-Button {
      width: 200px;
      border: 2px solid #d1d1d1;
      padding: 0.25rem;
      border-radius: 5px;
      @media (max-width: 1024px) {
        width: 97%;
      }
      @media (max-width: 768px) {
        width: 97%;
      }
      @media (max-width: 425px) {
        width: 97%;
      }
      @media (max-width: 375px) {
        width: 97%;
      }
      @media (max-width: 320px) {
        width: 97%;
      }
    }
  }
  &-text {
    direction: ltr;
    text-align: justify;
  }
}
// ! Text Mark
// ! Detect Caps Lock
.detectCapsLock {
  &-input {
    width: 200px;
    height: 30px;
    border: 2px solid #bfbfbf;
    border-radius: 10px;
  }
  &-error {
    padding: 0.6rem;
    color: rgb(168, 3, 3);
    background-color: rgb(255, 146, 146);
    border-radius: 10px;
    display: none;
  }
}
// ! Detect Caps Lock
// ! Menu Hover

.menu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  @media (max-width: 1024px) {
    gap: 10px;
  }
  @media (max-width: 768px) {
    gap: 5px;
  }
  @media (max-width: 425px) {
    gap: 5px;
  }
  @media (max-width: 375px) {
    gap: 2px;
  }
  @media (max-width: 320px) {
    gap: 2px;
  }
  &-wrapper {
    background-color: #080840;
    border-radius: 5px;
    position: relative;
  }
  &-light {
    background-color: #5f1af1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    position: absolute;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
  }
  &-item {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    z-index: 2;
    @media (max-width: 1024px) {
      padding: 1rem 2rem;
    }
    @media (max-width: 768px) {
      padding: 0.5rem 0.5rem;
    }
    @media (max-width: 425px) {
      padding: 0.5rem 0.5rem;
    }
    @media (max-width: 375px) {
      padding: 0.5rem 0.5rem;
    }
    @media (max-width: 320px) {
      padding: 0.5rem 0.5rem;
    }
  }
}

// ! Menu Hover
// ! TabChange

.TabChange {
  &-text {
    text-transform: uppercase;
    color: #080840;
    &-status {
      color: $codeComment;
    }
    &-failed {
      color: $codeCommentRed;
    }
  }
}

// ! TabChange
// ! TabToggle

.TabToggle {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  @media (max-width: 375px) {
    width: 100%;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
  &-tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 100%;

    &-item {
      background-color: rgb(220 220 220);
      color: rgb(162 162 162);
      margin: 0;
      padding: 1rem;
      width: 100%;
      text-align: center;
      cursor: pointer;
      transition: all 300ms ease-in-out;

      @media (max-width: 375px) {
        font-size: 10px;
      }
      @media (max-width: 320px) {
        font-size: 10px;
      }
      &:hover {
        background-color: #0f0f81;
        color: #ffffff;
      }
      &:first-child {
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-top-left-radius: 5px;
      }
      &.active {
        background-color: #080840;
        color: #ffffff;
      }
    }
  }
  &-contents {
    &-item {
      display: none;
      padding: 1rem;
      font-size: 12px;
      text-align: justify;
      margin: 0;
      transition: all 300ms ease-in-out;
      &.active {
        display: block;
        background-color: #080840;
        color: #ffffff;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }
}

// ! TabToggle
