//! fonts
@font-face {
  font-family: "firaCode";
  src: url(assets/fonts/FiraCode-Light.woff2) format("woff2");
}
//! fonts

//! my variables
$primaryColor: #f0f0f0;
$secondaryColor: #343434;
$softBlack: #474747;
$buttonColor: rgb(11, 11, 80);
$buttonHoverColor: rgb(23, 23, 135);
$GillFont: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$customBoxShadow: 0px 1px 1px 0px #34343438;
$borderRadius: 5px;
//* code style
$codeBack: #1e1e1e;
$codeComment: #6b9955;
$codeFontFamily: "Courier New", Courier, monospace;
$codeFontSize: 12px;
$codeVariable: #3598da;
$codeArrayBracket: #ffd629;
$codeManualBracket: #da70d7;
$codeNumber: #b5cca7;
$codeString: #ce9277;
$codeManualText: #d4d4d4;
$codeAnswer: #ffffff;

//! main page-----------------------
// styles
html {
  margin: 0;
  padding: 0;
  body {
    margin: 0;
    padding: 0;
    background-color: $secondaryColor;
    color: $primaryColor;
    font: {
      family: $GillFont;
    }
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: calc(100vh - 60px);
    }
    nav {
      width: 100%;
      background-color: $softBlack;
      margin: 0;
      padding: 0.3rem 0;
      .navbar-category-wrapper {
        width: 100%;
        .navbar-category-list {
          display: flex;
          justify-content: center;
          text-align: center;
          gap: 10px;
          list-style: none;
          padding: 0;
          .navbar-category-item {
            text-transform: uppercase;
            cursor: pointer;
            a {
              text-decoration: none;
              transition: all 300ms ease-in-out;
              color: rgb(161, 161, 161);
              &:hover {
                color: $codeAnswer;
              }
            }
            a.activeRoute {
              text-decoration: none;
              transition: all 300ms ease-in-out;
              color: $codeArrayBracket;
              &:hover {
                color: $codeAnswer;
              }
            }
          }
        }
      }
    }
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0.5rem 0;
  font : {
    size: 50px;
    weight: 900;
  }
}

.main-desc {
  text-align: center;
  display: block;
  margin: 0.6rem 0;
  color: rgb(192, 192, 192);
  text-transform: uppercase;
}
//! main page-----------------------

//! Cards ---
.project-cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  .project-card {
    background-color: $primaryColor;
    color: $secondaryColor;
    max-width: 200px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: $borderRadius;
    .project-card-title {
      font: {
        size: 14px;
        weight: 500;
      }
    }
    .project-card-image-wrapper {
      .project-card-image {
        border-radius: $borderRadius;
        box-shadow: $customBoxShadow;
      }
    }
    .project-card-category {
      font: {
        size: 12px;
        weight: 100;
        family: "Courier New", Courier, monospace;
      }
      width: 100%;
      display: block;
      text-transform: uppercase;
      color: rgb(119, 119, 119);
      transition: all 300ms ease-in-out;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: $codeBack;
      }
    }
    .project-card-content {
      width: 100%;
      .project-card-title {
        margin: 0.5rem 0;
      }
      .project-card-desc {
        text-align: center;
      }
      .project-card-button-wrapper {
        width: 100%;
        .project-card-button-link {
          width: 100%;
          .project-card-button {
            width: 100%;
            text-transform: capitalize;
            border-radius: $borderRadius;
            border: 0;
            background-color: $buttonColor;
            color: $primaryColor;
            padding: 10px 0;
            cursor: pointer;
            transition: all 300ms ease-in-out;

            &:hover {
              background-color: $buttonHoverColor;
              box-shadow: $customBoxShadow;
            }
          }
        }
      }
    }
  }
}
//! Cards ---

//! Condition and Loop train page---
.cl {
  &-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &-wrapper {
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    .codes {
      background-color: $primaryColor;
      color: $secondaryColor;
      box-shadow: $customBoxShadow;
      border-radius: $borderRadius;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 8px;
      min-width: 100%;
      align-items: center;
      .numberForm {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10px;
        align-items: flex-end;
        &-wrapper {
          display: flex;
          gap: 10px;
          max-width: 100%;
          flex-direction: column;
        }
        &-title {
          text-align: center;
          font: {
            size: 15px;
            weight: 600;
          }
        }
        &-input {
          &_wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }
        &-label {
          text-transform: capitalize;
        }
        &-button {
          background-color: $buttonColor;
          color: $codeManualText;
          border-radius: $borderRadius;
          border: 0;
          padding: 5px;
          transition: all 300ms ease-in-out;
          min-width: 60%;
          cursor: pointer;
          &:hover {
            background-color: $buttonHoverColor;
          }
        }
        &-result {
          width: 100%;
          text-align: center;
        }
      }
    }
    .train {
      &-details {
        display: flex;
        align-items: center;
        gap: inherit;
      }
      &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: inherit;
      }
      &-number {
        background-color: $secondaryColor;
        color: $primaryColor;
        width: 20px;
        height: 20px;
        padding: 3px;
        border-radius: 100%;
        text-align: center;
        box-shadow: $customBoxShadow;
      }
      &-question {
        color: $softBlack;
        font-size: 1rem;
      }
    }
    .code {
      min-width: 100%;
      font: {
        family: $codeFontFamily;
        size: $codeFontSize;
        weight: 300;
      }
      &-wrapper {
        background-color: $codeBack;
        border-radius: $borderRadius;
        box-shadow: $customBoxShadow;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 1rem;
        min-height: 40px;
        color: $codeManualText;
        width: 95%;
      }
      &-comment {
        color: $codeComment;
      }
      &-variable {
        color: $codeVariable;
      }
      &-arrayBracket,
      &-parentheses {
        color: $codeArrayBracket;
      }
      &-bracket {
        color: $codeManualBracket;
      }
      &-number {
        color: $codeNumber;
      }
      &-text {
        color: $codeManualText;
      }
      &-answer {
        color: $codeAnswer;
        font-size: 20px;
      }
      &-strings {
        color: $codeString !important;
      }
    }
  }
}
//! Condition and Loop train page---

//todo------------------------------

.todo {
  min-width: 100%;
  margin: 2rem 0;
  &_title {
    margin: 0.5rem 0;
  }
  &_wrapper {
    display: flex;
    min-width: 100%;
    gap: 10px;
  }
  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-label {
      font-size: 15px;
      margin: 0;
    }
    &-textarea {
      resize: none !important;
      font-size: 12px;
      padding: 0.5rem;
      border: 0;
      border-radius: $borderRadius;
      box-shadow: $customBoxShadow;
      &:focus,
      &:focus-visible,
      &:focus-within {
        border: 0;
        outline: 0;
      }
    }
    &-button {
      background-color: $buttonColor;
      border-radius: $borderRadius;
      border: 0;
      color: $primaryColor;
      transition: all 300ms ease-in-out;
      padding: 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: $buttonHoverColor;
      }
    }
    &-result {
      width: 100%;
      padding: 1rem;
      background-color: #e2e2e2;
      border-radius: $borderRadius;
      box-shadow: $customBoxShadow;
      &--title {
        margin: 0;
      }
      &--data {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      &--list {
        margin: 0.5rem 0;
        padding: 0;
      }
      &--item {
        display: flex;
        justify-content: space-between;
      }
      &--rmvButton {
        background-image: url("/assets/images/trash.svg");
        background-size: contain;
        width: 15px;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        &:hover {
          width: 20px;
        }
      }
    }
  }
}

//todo------------------------------
